* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#weatherPage {
  min-height: 100vh;
  position: relative;
  background: rgba(190, 226, 251, 0.7);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  overflow-x: hidden; }
  #weatherPage header {
    width: 100%;
    height: 20vh;
    background: url("../img/header-bg.jpg") center;
    background-size: cover;
    box-shadow: 10px 10px 10px -10px #0095ff;
    display: flex;
    justify-content: center;
    align-items: center; }
  #weatherPage main {
    padding: 1rem; }
    #weatherPage main .searchBox {
      margin-bottom: 1rem; }
      #weatherPage main .searchBox form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #weatherPage main .searchBox form input, #weatherPage main .searchBox form button {
          width: 60vw;
          background: #ecf4fa;
          padding: .5rem;
          font-size: 1rem;
          border-radius: 5px;
          outline: none;
          border: none;
          margin-bottom: .5rem; }
        #weatherPage main .searchBox form input[type=search]:focus {
          background: #ffffff; }
        #weatherPage main .searchBox form button {
          background: #0095ff;
          color: #ffffff; }
          #weatherPage main .searchBox form button:hover {
            background: #0077cc; }
    #weatherPage main .displayBox {
      max-width: 600px;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      padding: .5rem;
      margin: 0 auto;
      margin-bottom: 3rem;
      display: none; }
      #weatherPage main .displayBox #dateTime {
        text-align: center; }
      #weatherPage main .displayBox .generalInfoToday {
        margin-bottom: 1rem; }
        #weatherPage main .displayBox .generalInfoToday > div {
          padding: 1rem; }
          #weatherPage main .displayBox .generalInfoToday > div i {
            width: 20px;
            text-align: center; }
        #weatherPage main .displayBox .generalInfoToday h2 {
          margin-bottom: 1rem; }
        #weatherPage main .displayBox .generalInfoToday p {
          line-height: 1.5rem; }
        #weatherPage main .displayBox .generalInfoToday .todayIcon {
          float: left; }
        #weatherPage main .displayBox .generalInfoToday #temperature {
          display: flex;
          margin-top: 3rem; }
          #weatherPage main .displayBox .generalInfoToday #temperature #currentTempNum {
            font-size: 2.5rem; }
        #weatherPage main .displayBox .generalInfoToday .cityImg {
          height: 40vh;
          margin: 1rem;
          border-radius: 5px; }
      #weatherPage main .displayBox #tempHumidWind {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem; }
        #weatherPage main .displayBox #tempHumidWind > p {
          padding-right: .5rem;
          text-align: center; }
        #weatherPage main .displayBox #tempHumidWind .todayLowTemp {
          color: #808080; }
      #weatherPage main .displayBox .weatherFiveDays {
        display: grid;
        grid-template-columns: repeat(5, 1fr); }
        #weatherPage main .displayBox .weatherFiveDays .day {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: rgba(190, 226, 251, 0.7);
          border-radius: 5px;
          margin: 0 .5rem; }
          #weatherPage main .displayBox .weatherFiveDays .day p {
            line-height: 2rem; }
          #weatherPage main .displayBox .weatherFiveDays .day .lowTemp {
            color: #808080; }
  #weatherPage footer {
    position: absolute;
    bottom: 0;
    padding: 1rem; }
  @media (min-width: 500px) {
    #weatherPage main .searchBox form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; }
      #weatherPage main .searchBox form input, #weatherPage main .searchBox form button {
        margin-bottom: 0;
        margin-right: 0.5rem; }
    #weatherPage main .displayBox .generalInfoToday {
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr); } }

/*# sourceMappingURL=style.css.map */
