* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin centerWithFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#weatherPage {
  min-height: 100vh;
  position: relative;
  background: rgba(190, 226, 251, 0.7);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  overflow-x: hidden;

  header {
    width: 100%;
    height: 20vh;
    background: url("../img/header-bg.jpg") center;
    background-size: cover;
    box-shadow: 10px 10px 10px -10px #0095ff;
    @include centerWithFlex;
  }

  main {
    padding: 1rem;

    .searchBox {
      margin-bottom: 1rem;
      form {
        @include centerWithFlex;
        flex-direction: column;

        input, button {
          width: 60vw;
          background: rgb(236, 244, 250);
          padding: .5rem;
          font-size: 1rem;
          border-radius: 5px;
          outline: none;
          border: none;
          margin-bottom: .5rem;
        }

        input[type=search]:focus {
          background: #ffffff;
        }

        button {
          background: #0095ff;
          color: #ffffff;

          &:hover {
            background: darken(#0095ff, 10%);
          }
        }
      }
    }

    .displayBox {
      max-width: 600px;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      padding: .5rem;
      margin: 0 auto;
      margin-bottom: 3rem;
      display: none;

      #dateTime {
        text-align: center;
      }

      .generalInfoToday {
        margin-bottom: 1rem;


        &>div {
          padding: 1rem;

          i {
            width: 20px;
            text-align: center;
          }
        }

        h2 {
          margin-bottom: 1rem;
        }

        p {
          line-height: 1.5rem;
        }

        .todayIcon {
          float: left;
        }

        #temperature {
          display: flex;
          margin-top: 3rem;

          #currentTempNum {
            font-size: 2.5rem;
          }
        }

        .cityImg {
          height: 40vh;
          margin: 1rem;
          border-radius: 5px;
        }
      }

      #tempHumidWind {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;

        &>p {
          padding-right: .5rem;
          text-align: center;
        }

        .todayLowTemp {
          color: #808080;
        }
      }

      .weatherFiveDays {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .day {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: rgba(190, 226, 251, 0.7);
          border-radius: 5px;
          margin: 0 .5rem;

          p {
            line-height: 2rem;
          }

          .lowTemp {
            color: #808080;
          }
        }
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
  }
  
  @media (min-width: 500px) {
    main {
      .searchBox {
        form {
          @include centerWithFlex;
          flex-direction: row;

          input, button {
            margin-bottom: 0;
            margin-right: 0.5rem;
          }
        }
      }

      .displayBox {
        .generalInfoToday {
          margin-bottom: 1rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
